@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  font-family: "Poppins", sans-serif !important;
}

*,
*::before,
*::after {
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;

  background: #ffffff;

  color: #111827;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-family: "Poppins", sans-serif !important;
}

a {
  font-family: "Poppins", sans-serif !important;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}